@font-face {
    font-family: HackerFont;
    src: url('./assets/fonts/Matrix-MZ4P.ttf');
}

/* Roboto: 100,300,400,500,700,900 Normal/Italics */
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Black.ttf");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}
