/* CSS-Selektoren */
/* 
    Element-Selektoren => body, main, p, img, h1, h2,...
    Class-Selektor => .card, .header, .buxtehude
    Id-Selektor => #card1, #theme-toggle, #submit-btn
    Attribute-Selektor => todo
*/
body {
    background-color: #6d6d6d;
    color: white;
    margin: 0;
    padding: 0;
    /* 1rem => 1x default-browser-fontsize => 16px */
    font-size: 1.5rem;
}

h1,h2,h3,h4,h5,h6 {
    font-style: italic;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

main {
    margin: 20px;
}
/*
li.fette-liste {
    font-weight: 900;
}

li.custom-list-item {
    margin: 15px;
}
*/
h1#main-title {
    /* 1em => 1x font-size direkten parents => 
        16px (browserdefault) x 1.5 rem (body) x 2em ==> 48px
    */
    font-size: 3em;
    text-shadow: 2px 2px 2px black;
    font-style: normal;
}

p {
    /* Feste Breite von ca. 20 Zeichen für p-Tags
    width: 20ch; */
    margin: 5px;
}